.fixed-bottom{
	position: fixed;
	right: 0;
	z-index: 1030;
	bottom: 0;
}

.small-font{
	font-size: 10px;
}

.cart-counter{
	position: absolute;
    top: 3px;
    right: 6px;
}

.section_empty{
	height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
	img{
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}