.toast_msg{
    padding: 15px 20px;
    color: #fff;
    background: rgba(0,0,10,0.7);
    display: inline-block;
    position: fixed;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-out;
    white-space: nowrap;
    &_page{
        top: 70px;
        transform: translateX(300px);
        right: 20px;
        z-index: 10;
        &.shown{
            transform: translateX(0px);
        }
    }

    &_cart{
        bottom: 70px;
        transform: translate(50%, 0);
        right: 50%;
        z-index: 11;
        opacity: 0;
        &.shown{
            opacity: 1;
        }
    }
}