<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">

    <div class="col-12 col-sm-6 col-md-4">
      <article class="card-wrapper">
        <div class="image-holder">
          <a href="#" class="image-holder__link"></a>
          <div class="image-liquid image-holder--original" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/24/Blue_Tshirt.jpg')">
          </div>
        </div>

        <div class="product-description">
          <!-- title -->
          <h1 class="product-description__title">
            <a href="#">            
              Adidas Originals
              </a>
          </h1>

          <!-- price -->
          <div class="row">
            <div class="col-12 d-flex">
              <div class="product-description__price product-description__price--strike mr-2">€ 499</div>
              <div class="product-description__price">€ 399</div>
            </div>
          </div>

        </div>

      </article>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4">
      <article class="card-wrapper">
        <div class="image-holder">
          <a href="#" class="image-holder__link"></a>
          <div class="image-liquid image-holder--original" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Jeans_BW_2_(3213391837).jpg/543px-Jeans_BW_2_(3213391837).jpg')">
          </div>
        </div>

        <div class="product-description">
          <!-- title -->
          <h1 class="product-description__title">
            <a href="#">            
              Adidas Originals
              </a>
          </h1>

          <!-- price -->
          <div class="row">
            <div class="col-12 d-flex">
              <div class="product-description__price product-description__price--strike mr-2">€ 499</div>
              <div class="product-description__price">€ 399</div>
            </div>
          </div>
        </div>

      </article>
    </div>
    
    <div class="col-12 col-sm-6 col-md-4">
      <article class="card-wrapper">
        <div class="image-holder">
          <a href="#" class="image-holder__link"></a>
          <div class="image-liquid image-holder--original" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Columbia_Sportswear_Jacket.jpg')">
          </div>
        </div>

        <div class="product-description">
          <!-- title -->
          <h1 class="product-description__title">
            <a href="#">            
              Adidas Originals
              </a>
          </h1>

          <!-- price -->
          <div class="row">
            <div class="col-12 d-flex">
              <div class="product-description__price">€ 499</div>
            </div>
          </div>
        </div>

      </article>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
