<header>
  <h1>
    Ajency Shopping
  </h1>
  <div class="view-cart-btn">
    <img src="assets/icons/shopping-cart.svg">
  </div>
</header>

<!-- To be used for product list loader component -->
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="loadingBlock">
        <div class="loadingBlock_content">
          <div class="loadingBlock_title"></div>
          <div class="loadingBlock_price"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="loadingBlock">
        <div class="loadingBlock_content">
          <div class="loadingBlock_title"></div>
          <div class="loadingBlock_price"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="loadingBlock">
        <div class="loadingBlock_content">
          <div class="loadingBlock_title"></div>
          <div class="loadingBlock_price"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="loadingBlock">
        <div class="loadingBlock_content">
          <div class="loadingBlock_title"></div>
          <div class="loadingBlock_price"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Loader component ends -->

<router-outlet></router-outlet>
